<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <section class="map-visual">
                    <div>
                        <app-map-svg></app-map-svg>
                    </div>
                </section>
            </div>
            <div class="col">
                <section class="country-info">
                    <div>
                        Testing...
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
